body {
    background-color: #cdcecf;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
        Tahoma, sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#chart {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.line {
    fill: none;
    stroke-width: 2px;
}

.line.roomTemperature {
    stroke: steelblue;
}

.line.desiredTemperature {
    stroke: red;
}
